@import './mixins';
@import './variables';

*, *::before, *::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html, body {
	font-family: sans-serif;
	width: 100%;
	height: auto;
	min-height: 100vh;
}
