
    
    #nav-bar{
        display: flex;
        justify-content: space-around;
        height: 9.6rem;
        width: 100%;
        background: linear-gradient(rgb(217, 218, 183),rgba(245, 245, 245, 0.671),rgb(201, 195, 175),rgb(226, 215, 215));
        .logo
        {
            height: 100%;
        }
        .icon
        {
            display: none;
            #icon-box
            {
                width: 25px;
            }
            
        }
        .nav-links
        {
            float: right;
            margin-right: 5rem;
            
            li
            {
                display: inline-block;
                margin: 0 1rem;
                line-height: 1rem;
                margin-top: 3rem;
                transition: all .5s linear;

                &:hover
                {
                    border: 2px solid #000;
                    padding: 1rem;
                    border-radius: 20px;
                    box-shadow: black 2px 1px;
                }
                a
                {
                    font-size: 1.21rem;
                    color: black;
                    text-shadow: black 2px;
                    text-transform: uppercase;
                    
                }
            }
        }
    }

    .main-container
    {
        #title 
        {
            text-align: center;
            margin-top: 3rem;
            margin-bottom: 2rem;
        }

        .post-origin
        {
            text-align: center;
            margin-bottom: 2rem;
            span a 
            {
                font-size: 1.1rem;
                margin-right: 1rem;
                font-family: 'Times New Roman', Times, serif;
                font-weight: 800;
                color: rgb(18, 18, 19);
                &:hover
                {
                    color: rgb(18, 21, 241);
                }
            }
           
        }

        
        .img-icon
        {
            .icon-bar
            {
                position: fixed;
                top: 50%;
                transform: translateY(-50%);
                a {
                    display: block;
                    text-align: center;
                    padding: 16px;
                    transition: all 0.3s ease;
                    color: rgb(243, 232, 232);
                    font-size: 20px;
                    &:hover {
                        background-color: #000;
                      }
                  }

                  .facebook {
                    background: #3B5998;
                    color: white;
                  }
                  
                  .twitter {
                    background: #55ACEE;
                    color: white;
                  }
                  
                  .google {
                    background: #dd4b39;
                    color: white;
                  }
                  
                  .whatsapp {
                    background: #2c8012;
                    color: white;
                  }

                  .weixin
                  {
                      background:rgb(79, 196, 79);
                      color: #fff;
                  }
                  
                 
            }

            .img .front-pic
            {
                width: 60%;
                height: 70vh;
                margin-left: 16rem;
                margin-top: 2rem;
                border-radius: 20px;
                box-shadow: rgb(17, 16, 17) 2px 2px 2px 2px;
                
            }
        }


        .container 
        {
            width: 70%;
            margin-left: 15%;
            p 
            {
                text-align: left;
                font-size: 1.1rem;
                font-weight: 550;
            }

            #quote
            {
                padding: 2rem;
                font-size: 2rem;
                font-weight: 800;
                color: rgb(92, 4, 255);
                background: linear-gradient(rgb(230, 230, 205), yellow, gray );
                border-radius: 20px;
            }

            h2 
            {
                text-align: center;
                margin-top: 2rem;
                font-family: fantasy,'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                font-weight: 300;
                color: rgb(61, 60, 60);
            }

            
              
            li 
            {
                font-size: 19px;
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                font-weight: 470;
                list-style-type: lower-alpha;
            }
            
            
        }



    }


    .footer {
        display: flex;
        width: 100%;
        height: 25vh;
        margin-top: 20px;
        background: #000;
        grid-template-columns: 40% 30% 30%;
        color: #fff;

        .foot-logo
        {
            width: 10%;
            margin-right: 5rem;
        }
        .about-us
         {
            margin-right: 3rem;
         }

         .contact
         {
             margin-right: 5rem;
            a
             {
                 color: yellow;
                 transition: all .5s linear;
                 &:hover
                 {
                     padding: .7rem;
                     color: rgb(7, 6, 6);
                     background: rgb(255, 250, 250);
                     font-weight: bold;
                 }
             }

             .icon-bar
             {
                 margin-top: 20%;
                
                 .facebook 
                 {
                     margin-right: 5px;
                 }

                 .twitter
                 {
                    margin-right: 5px;
                 }

                 .google
                 {
                    margin-right: 5px;
                 }

                 .whatsapp
                 {
                    margin-right: 5px;
                 }

                 .weixin
                 {
                    margin-right: 5px;
                 }
             }
         }

         .product
         {
             margin-right: 5rem;
             a 
             {
                 color: greenyellow;
                 font-weight: 700;
                 font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                 transition: all .5s linear;
                 &:hover
                 {
                     padding: .4rem;
                     color: rgb(7, 6, 6);
                     background: rgb(255, 250, 250);
                     font-weight: bold;
                 }
             }
         }

         .partnership
         {
            a 
            {
                color: greenyellow;
                font-weight: 700;
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                transition: all .5s linear;
                &:hover
                {
                    padding: .4rem;
                    color: rgb(7, 6, 6);
                    background: rgb(255, 250, 250);
                    font-weight: bold;
                }
            }
         }

       
    }

    



    @media only screen and (min-width: 1920px)
    {
    
        .footer
        {
            .about-us
            {
                padding-right: 7rem;
            }
            h2 
            {
                font-size: 2.5rem;
            }
            p 
            {
                font-size: 1.3rem;
            }
        }
    }



@media screen and (max-width:796px)
{
    body 
    {
        overflow-x: hidden;
        nav 
        {
            ul 
            {
                position: absolute;
                right: 2vh;
                left: 0vh;
                height:92vh;
                top: 22vh;
                background: linear-gradient(gray, whitesmoke);
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 100%;
                transform: translateX(100%);
                transition: all .5s ease-in;
                li 
                {
                    opacity: 0;
                }

            }  

            .icon 
            {
                display: block;
                cursor: pointer;
            }
        }

        main 
        {
            .post-origin
            {
                display: flex;
                flex-direction: column;
            }

            .img-icon
            {
                
                
                .img 
                {
                    padding-right: 10%;
                    margin-right: 15%;
                    
                }
            }

            .post-container
            {
               width: 100%;
               background: linear-gradient(whitesmoke,gray);
               
                .box 
                {
                    .post-head
                    {
                        h2 
                        {
                            margin-bottom: 1rem;;
                        }
                    }
                }
            }
        }
    }

    .footer
    {
        display: flex;
        flex-direction: column;
        height: 100vh !important;
        justify-content: center;
        text-align: center;
        img 
        {
            padding-left: 21rem;
            height: 9rem;
        }

        .about-us
        {
            padding-left: 2rem;
            margin-bottom: 2rem;
        }

        .contact
        {
            padding-left: 4rem;
            height: 15%;
            .icon-bar
            {
                visibility: hidden;
            }
        }

        .product
            {
                padding-left: 3rem;
                padding-bottom: 1rem;
            }

            .partnership
            {
                padding-right: 1rem;
                padding-bottom: 1rem;
            }
    }
}

.nav-active 
{
    transform: translateX(0%);
}


@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}
