@import './mixins';
@import './variables';
@import './base';
@import './http-https';
@import './ipv4-ipv6';

nav {
	display: flex;
	height: 22vh;
	border: thin solid black;

	img {
		width: 20%;
		height: auto;
	}

	.nav-links {
		width: 55%;
		margin: 0 auto;
		list-style-type: none;
		@include flexcenter;
		@include flexwrap;
		justify-content: space-between;

		a {
			text-decoration: none;
			font-size: clamp(1.25rem, 2vw, 2.5rem);
			text-transform: uppercase;
		}
	}

	.searchBar {
		width: 15%;
		@include flexcenter;

		input {
			width: 100%;
			margin-right: 5%;
			height: 2em;
			font-size: clamp(1rem, 1.25vw, 2rem);
			outline: none;
			padding-left: 5px;
		}

		i {
			right: 1%;
			cursor: pointer;
			position: absolute;
		}
	}
}

.main {
	width: 100%;
	height: 100vh;

	.poster {
		position: relative;
		top: 0;

		&, img {
			width: inherit;
			height: inherit;
		}

		img {
			z-index: -1;
			user-select: none;
		}

		.innerContent {
			position: absolute;
			@include abscenter;
			@include flexcenter;
			@include flexcol;
			color: rgba(0, 0, 0, 0.75);
			text-align: center;
			font-size: clamp(1.75rem, 3vw, 3rem);
			text-shadow: 2px 2px white;
			font-family: serif;
			font-weight: bold;
			width: 100%;
			height: 100%;
			background-color: rgba(0, 0, 0, .5);

			p {
				margin: 1% 0;
			}

			button {
				background: none;
				outline: none;
				border: none;
				color: white;
				border: thin solid white;
				width: 15%;
				height: 2em;
				font-size: clamp(1.25rem, 1.5vw, 2rem);
				cursor: pointer;

				&:hover {
					background-color: rgba(175, 177, 179, 0.3);
				}
			}
		}
	}

	.blogArea {
		margin-top: 5%;
		width: 100%;
		display: flex;

		.posts, .addInfo {
			margin: 0 auto;
		}

		.posts {
			@include flexcol;
			width: 50%;

			.post {
				width: 100%;
				@include flexcol;
				text-align: justify;
				margin-bottom: 5%;
				
				.head {
					@include flexcol;
					width: 50%;

					h2, p {
						width: 100%;
					}

					a {
						color: black;
					}

					.title, .author-publish {
						text-transform: capitalize;
					}

					.title {
						margin-bottom: 1%;
					}
				}

				.body {
					width: 70%;
					height: auto;
					margin: 2.5% 0;
					margin-left: 2.5%;

					img {
						width: 100%;
						height: 100%;
					}
				}

				.desc {
					margin-bottom: 2%;
				}

				hr {
					width: 100%;
				}
			}
			
			.post:last-of-type hr {
				display: none;
			}
		}
		
		.addInfo {
			@include flexcol;
			width: 30%;
			margin: 0 auto;
			
			div {
				margin-bottom: 10%;
			}

			.cat {
				@include flexcenter;
				@include flexcol;
				justify-content: space-between;
				
				h3 {
					margin-bottom: 2.5%;
				}

				.links {
					@include flexwrap;
					height: auto;
					width: 45%;


					p {
						margin: 2%;
						@include flexcenter;
						border: 1px solid #000;
						padding: 0 5px;
						border-radius: 20px;
						height: 2em;
						cursor: pointer;


						a {
							text-transform: uppercase;
							text-decoration: none;
							color: black;
						}
					}
				}
			}
		}
	}
}

footer {
	@include flexcol;
	justify-content: space-between;
	color: white;
	background-color: rgba(0, 0, 0, 0.8);
	position: relative;
	bottom: 0;
	left: 0;
	height: 40vh;

	.content {
		display: flex;
		justify-content: space-evenly;
		height: 80%;

		.col {
			width: 30%;
			@include flexcol;
			justify-content: space-around;
		}

		h3 {
			text-transform: capitalize;
		}

		.emailInput {
			width: 100%;
			display: flex;
			position: relative;
			
			input, .icon {
				font-size: 1.25rem;
			}
			
			input {
				width: 70%;
				height: 2em;
				outline: none;
				padding-left: 5px;
			}

			.icon {
				width: 10%;
				height: 100%;
				@include flexcenter;
				position: absolute;
				left: 67%;
				background-color: black;
				cursor: pointer;
			}
		}

		.icons {
			display: flex;
			justify-content: space-around;
			width: 50%;

			a {
				color: white;
				text-decoration: none;
			}

			i {
				cursor: pointer;
			}
		}
	}

	.cpyRight {
		@include flexcenter;
		text-align: center;
		height: 20%;
		border-top: thin solid black;
		background-color: rgba(0, 0, 0, .4);
	}
}

img {
	width: 100%;
}