header {
  width: 60%;
  margin: 2% auto 5% auto;
  text-align: center;
}

header h1 {
  font-size: clamp(1.25rem, 2.25vw, 3rem);
}

header p {
  font-size: clamp(1rem, 1.5vw, 2.5rem);
}

.main {
  margin-bottom: 5%;
}

.main .recent-post {
  width: 60%;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (50%)[2];
      grid-template-columns: repeat(2, 50%);
  -ms-grid-rows: (37.5%)[2];
      grid-template-rows: repeat(2, 37.5%);
  grid-gap: 2%;
}

.main .recent-post .post {
  position: relative;
}

.main .recent-post .post:hover .desc {
  opacity: 0.35;
}

.main .recent-post .post:hover .title {
  opacity: 1;
}

.main .recent-post img {
  width: 100%;
  height: 100%;
}

.main .recent-post .title, .main .recent-post .desc {
  position: absolute;
  color: white;
  background-color: rgba(0, 0, 0, 0.75);
  width: 100%;
  padding: 0.5em 1.25em;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

.main .recent-post .title {
  top: 0;
  text-align: center;
  opacity: 0;
  padding: .5em 1em;
  text-transform: capitalize;
}

.main .recent-post .desc {
  bottom: 0;
  opacity: 1;
}

.main .blog-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 90%;
  margin: 0 auto;
}

.main .blog-area .posts {
  width: 70%;
}

.main .blog-area .posts .post {
  width: 42.5%;
  height: 35%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main .blog-area .posts .post:nth-of-type(even) {
  margin-left: auto;
}

.main .blog-area .posts .post:nth-of-type(odd) {
  margin-right: auto;
}

.main .blog-area .posts .post:hover {
  cursor: pointer;
}

.main .blog-area .posts .post:hover .desc {
  opacity: 1;
}

.main .blog-area .posts .post:hover .title {
  text-decoration: underline;
}

.main .blog-area .posts .post .img-desc {
  width: 100%;
  height: 75%;
  position: relative;
}

.main .blog-area .posts .post img, .main .blog-area .posts .post .desc {
  width: 100%;
  height: 100%;
}

.main .blog-area .posts .post .title {
  width: 100%;
  height: 25%;
  text-align: center;
  text-transform: capitalize;
  background-color: rgba(65, 105, 225, 0.7);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main .blog-area .posts .post .desc {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.75);
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 2em;
  opacity: 0;
  -webkit-transition: .25s;
  transition: .25s;
}

.main .blog-area .posts .post .link {
  color: black;
  text-decoration: none;
}

.main .blog-area .add-links {
  width: 25%;
}

.main .blog-area .add-links .row {
  width: 100%;
}

.main .blog-area .add-links h3 {
  width: inherit;
  text-transform: capitalize;
  text-align: center;
}

.main .blog-area .add-links .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 2%;
}

.main .blog-area .add-links .link {
  border: .1em solid currentColor;
  padding: .2em .5em;
  text-decoration: none;
  border-radius: 1em;
  margin: 1%;
  text-align: center;
}

footer {
  height: auto;
  background-color: rgba(0, 0, 0, 0.95);
}

footer .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 80%;
  margin: 0 auto;
}

footer .col {
  width: 30%;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer .col h3, footer .col h4 {
  text-transform: capitalize;
}

footer .col h3 {
  margin: 1em 0;
}

footer .col .link {
  margin-bottom: .5em;
  text-transform: capitalize;
}

footer .social-media {
  margin: .5em 0 1em 0;
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .cpy-right {
  padding: .8em;
  background-color: rgba(0, 0, 0, 0.75);
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .cpy-right .person {
  text-transform: capitalize;
}

.link {
  color: cyan;
  width: auto;
}

.link:hover {
  color: #009999;
}
/*# sourceMappingURL=index.css.map */
