@import './mixins';
@import './variables';
@import './base';
@import './jimLayout';
@import './jasonLayout';

header {
	width: 50%;
	margin: 2% auto 5% auto;
	text-align: center;
}

.main {
	.recent-post {
		width: 60%;
		margin: 0 auto;
		display: grid;
		grid-template-columns: repeat(2, 50%);
		grid-template-rows: repeat(2, 35%);
		grid-gap: 2%;

		.post {
			position: relative;

			&:hover {
				.desc {
					opacity: 0.35;
				}

				.title {
					opacity: 1;
				}
			}
		}

		img {
			width: 100%;
			height: 100%;
		}

		.title, .desc {
			position: absolute;
			color: white;
			background-color: rgba(0, 0, 0, 0.75);
			width: 100%;
			padding: 0.25em 1em;
			transition: 0.25s;
		}

		.title {
			top: 0;
			text-align: center;
			opacity: 0;
			padding: .5em 1em;
		}

		.desc {
			bottom: 0;
			opacity: 1;
		}
	}

	.blog-area {
		display: flex;
		justify-content: space-between;
		width: 90%;
		margin: 0 auto;

		border: thick solid red;

		.posts, .add-links{
			border: 1px solid blue;
		}

		.posts {
			width: 70%;
		}

		.add-links {
			width: 25%;
		}
	}
}

footer {
	height: auto;
	background-color: rgba(0, 0, 0, .95);

	.info {
		display: flex;
		justify-content: space-between;
		width: 80%;
		margin: 0 auto;
	}

	.col {
		width: 30%;
		color: white;
		display: flex;
		flex-direction: column;

		h3, h4 {
			text-transform: capitalize;
		}

		h3 {
			margin: 1em 0;
		}

		.link {
			margin-bottom: .5em;
			text-transform: capitalize;
		}
	}

	.social-media {
		margin: .5em 0 1em 0;
		width: 40%;
		display: flex;
		justify-content: space-between;
	}

	.cpy-right {
		padding: .8em;
		background-color: rgba(0, 0, 0, 0.75);
		color: white;
		@include flexcenter;

		.person {
			text-transform: capitalize;
		}
	}
}

.link {
	color: hsl(180, 100%, 50%);
	width: auto;

	&:hover {
		color: hsl(180, 100%, 30%);
	}
}