@import './mixins';
@import './variables';

header {
	width: 60%;
	margin: 2% auto 5% auto;
	text-align: center;

	h1 {
		font-size: clamp(1.25rem, 2.25vw, 3rem);
	}

	p {
		font-size: clamp(1rem, 1.5vw, 2.5rem);
	}
}

.main {
	margin-bottom: 5%;

	.recent-post {
		width: 60%;
		margin: 0 auto;
		display: grid;
		grid-template-columns: repeat(2, 50%);
		grid-template-rows: repeat(2, 37.5%);
		grid-gap: 2%;

		.post {
			position: relative;

			&:hover {
				.desc {
					opacity: 0.35;
				}

				.title {
					opacity: 1;
				}
			}
		}

		img {
			width: 100%;
			height: 100%;
		}

		.title, .desc {
			position: absolute;
			color: white;
			background-color: rgba(0, 0, 0, 0.75);
			width: 100%;
			padding: 0.5em 1.25em;
			transition: 0.25s;
		}

		.title {
			top: 0;
			text-align: center;
			opacity: 0;
			padding: .5em 1em;
			text-transform: capitalize;
		}

		.desc {
			bottom: 0;
			opacity: 1;
		}
	}

	.blog-area {
		display: flex;
		justify-content: space-between;
		width: 90%;
		margin: 0 auto;

		.posts {
			width: 70%;
			
			.post {
				width: 42.5%;
				height: 35%;
				display: flex;
				flex-direction: column;
				justify-content: space-between;

				&:nth-of-type(even) {
					margin-left: auto;
				}

				&:nth-of-type(odd) {
					margin-right: auto;
				}

				&:hover {
					cursor: pointer;

					.desc {
						opacity: 1;
					}

					.title {
						text-decoration: underline;
					}
				}

				.img-desc {
					width: 100%;
					height: 75%;
					position: relative;
				}

				img, .desc {
					width: 100%;
					height: 100%;
				}

				.title {
					width: 100%;
					height: 25%;
					text-align: center;
					text-transform: capitalize;
					background-color: rgba(65, 105, 225, 0.7);
					@include flexcenter;
					flex-direction: column;
				}

				.desc {
					position: absolute;
					top: 0;
					left: 0;
					background-color: rgba(0, 0, 0, 0.75);
					color: white;
					@include flexcenter;
					padding: 0 2em;
					opacity: 0;
					transition: .25s;
				}

				.link {
					color: black;
					text-decoration: none;
				}
			}
		}

		.add-links {
			width: 25%;

			.row {
				width: 100%;

			}

			h3 {
				width: inherit;
				text-transform: capitalize;
				text-align: center;
			}

			.links {
				@include flexwrap;
				margin-top: 2%;
			}

			.link {
				border: .1em solid currentColor;
				padding: .2em .5em;
				text-decoration: none;
				border-radius: 1em;
				margin: 1%;
				text-align: center;
			}
		}
	}
}

footer {
	height: auto;
	background-color: rgba(0, 0, 0, .95);

	.info {
		display: flex;
		justify-content: space-between;
		width: 80%;
		margin: 0 auto;
	}

	.col {
		width: 30%;
		color: white;
		display: flex;
		flex-direction: column;

		h3, h4 {
			text-transform: capitalize;
		}

		h3 {
			margin: 1em 0;
		}

		.link {
			margin-bottom: .5em;
			text-transform: capitalize;
		}
	}

	.social-media {
		margin: .5em 0 1em 0;
		width: 40%;
		display: flex;
		justify-content: space-between;
	}

	.cpy-right {
		padding: .8em;
		background-color: rgba(0, 0, 0, 0.75);
		color: white;
		@include flexcenter;

		.person {
			text-transform: capitalize;
		}
	}
}

.link {
	color: hsl(180, 100%, 50%);
	width: auto;

	&:hover {
		color: hsl(180, 100%, 30%);
	}
}